@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: url(../src/Assets/bodybackgroundImg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.fa-quote-left,
.fa-quote-right {
  font-size: 25px;
}